<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Título</ion-label>
    <ion-input type="text" [(ngModel)]="titulo" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Subtítulo</ion-label>
    <ion-input type="text" [(ngModel)]="subtitulo" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Descripción</ion-label>
    <ion-input type="email" [(ngModel)]="descripcion" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Monto</ion-label>
    <ion-input type="number" [(ngModel)]="monto" required></ion-input>
  </ion-item>

  <!-- Checkboxes -->
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Categorías</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Personal</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Ambiental</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Humanitaria</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Animal</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button
        (click)="enviarinfo()"
        type="submit"
        color="secondary"
        expand="block"
        >Enviar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="search" [routerLink]="['/publicacion']">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Nuevo</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" [routerLink]="['/perfil']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
