<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Título</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Subtítulo</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripcción</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Monto</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <!-- Checkboxes -->
    <ion-list lines="full">
      <ion-list-header>
        <ion-label>Categorías</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Personal</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Ambiental</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Humanitaria</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Animal</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="search" [routerLink]="['/publicacion']">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" [routerLink]="['/perfil']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
